.start2 {
	z-index: 100;
	opacity: 0.8;
	margin-bottom: 5px;
	padding: 10px 30px;
	
}

.centerMe {
	display: flex;
	 justify-content: center;
}

.position2 {
	position: absolute;
	top: 50px
}

.ttp {
	justify-content: center;
	text-align: center;
	font-size: 3.4vw !important;
	text-decoration-color:black !important;
	opacity: 0.5;
	margin-bottom: 5px;
	padding: 10px 30px;
}

.SocialBar {
	background-color: #2a2f33;
	color: #fff;
	text-align: right;
}
.SocialBar ul {
	margin-bottom: 0;
	padding: 10px 30px;
}

.SocialBar li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

.section2 {
	background-image: url(../Media/bg3.jpg);
	color:black;
}
.section-dark{
    background-image: url(../Media/bg1.png);
    background-size: cover;
  }