.copyri {
    font-size: 12px;
    padding: 0px;
    color: var(--sc);
    background-color: #2a2f33;
}
.footer-nav {
    background: var(--pc);
    max-height: 10px;
}

.form-control {
text-align: center;
opacity: 0.4;
}

.footer {
 max-height: 100px;
}
